<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="welcomeText" *ngIf="!product" >
    <ion-card-header class="text">Welcome</ion-card-header>
    <ion-card-content style="font-family: 'Titillium Web', sans-serif;">
      Use our app to check products for any harmefull componenets. 
      <br>
      Also it will tell you if it's a tunisian product or not.
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="product">
    <ion-card-title>Product</ion-card-title>
    <ion-card-content>
      <p class="text">Name : {{ product.name }} </p>
      <p class="text">Dangers : {{ product.danger }}</p>
      <!-- <div *ngFor="let d of product.danger" >
        <p class="text"> {{d.value}} </p>
      </div> -->
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="product" >
    <ion-card-header *ngIf="isTunisian" >
      This product is Tunisian ! 
    </ion-card-header>
    <ion-card-header *ngIf="!isTunisian" >
      This product is NOT Tunisian ! 
    </ion-card-header>
  </ion-card>
  <div class="spacer" style="height: 40px;"></div>
  <button ion-button secondary (click)="scan()" outline block>Scan</button>
  <button ion-button primary (click)="logout()" outline block>Logout</button>
</ion-content>